// partial style
@import 'global';


.expense{
	margin-top: 60px;
	// margin-bottom: 800px;
	a{transition: color .3s ease-in;}
	a:active{color: $linkActiveColor;}
	a:hover{color: $linkHoverColor;}

	.board{
		margin-top: 20px;
	}

	.category-title{
		position: relative;
		margin-top: 20px;
		margin-bottom: 30px;
		h3{display: inline-block; position: relative; background-color: white; margin: 0; padding: 0; padding-right: 15px;}
		&:before{content: ''; position: absolute; top: 49%; border-top: 1px solid #EEE; width: 100%;}
	}

	.latest-posts{
		.post-item{
			position: relative;
			.entry-content{
				h3{margin-top: 0px;}
				padding: 10px;
				margin: 5px 0px;
				border: 1px dotted #ccc; 
				height: 200px;
				overflow: hidden;
			}
			.entry-owner{
				background-color: #f4f4f5;
			}
			.entry-edit{
				position: absolute;
				display: none;
			}
			
		}
	}
	
}

@media (max-width: $screen-xs-max){
.expense{
	margin-top: 60px;

	.latest-posts{
		.post-item{
			margin-bottom: 40px;
			height: unset;	
			.entry-image{
				a{height: unset;}
			}
		}
	}

}

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
.expense{
	.category-posts{
		&>div{margin-bottom: 20px;}
	}
	.latest-posts{
		.post-item{
			margin-bottom: 40px;
			height: unset;	
			.entry-image{
				a{height: 250px;}
			}
		}
	}
}

}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
.expense{
	.category-posts{
		&>div{margin-bottom: 20px;}
	}
	.latest-posts{
		.post-item{
			margin-bottom: 40px;
			height: unset;	
			.entry-image{
				a{height: 300px;}
			}
		}
	}
}

}

@media (min-width: $screen-lg-min) {}
